@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    background:grey;
    font-family: 'Rajdhani', sans-serif;
    font-weight:800;
}

.container1 {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  main{
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding:10px;
      color:white;
      background:black;
  }
 main.show{
      position: fixed;
      z-index:200;
      width:100%;
  }
  .navtop{
      text-align: center;
      background:darkcyan;
      height:0;
      width:100%;
      font-size: 20px;
      font-weight: bold;
      opacity:0;
      position:fixed;
      transition:1s all;
      pointer-events: none;
    }
    .navtop ul{
        list-style:none;
        text-transform: uppercase;
        background:transparent;
        font-size: 20px;
    }
    
    .navtop.show{
          opacity:1;
        pointer-events: auto;
        height:100%;
        padding: 50px 0;
        position: fixed;
        top:50px;
    }
    .desktop{
        display:none;
    }

.container{
    width:100%;
    background:coral;
}
img{
    width:100%;
    height:150px;
}
header{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:1rem;
}
.meal{
display:grid;
grid-template-columns: auto auto;
grid-gap:10px;
}
.favorite ul{
    list-style: none;
    background:silver;
    margin-top:10px;
    width:100%;
    height:300px;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
    font-size: 15px;
    padding:10px;
}
.favorite li{
    padding:10px;
}
header input{
    border:none;
    padding:10px;
    margin-right:10px;
}
header button{
    padding:5px;
    background:transparent;
    border:2px solid white;
}
.favorite{
    padding:20px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap:10px;
    cursor: pointer;
    overflow: hidden;
}
.popupcontainer{
    position: fixed;
    background:rgba(0,0,0,0.5);
    left:0;
    right:0;
    top:0;
    bottom:0;
    text-align: center;
}
.popup{
    background-color:white;
    padding:2rem;
    width:100%;
    height:100%;
    position: relative;
    top:0;
    left:0;
    right:0;
    max-height: 100vh;
    overflow:auto;
    text-transform: uppercase;
    max-width:600px;
}
.popup h1{
    text-align: center;
}

.popup .closepopup{
position: absolute;
top:1rem;
right:1rem;
background:transparent;
border:none;
font-size: 20px;
}

.popupcontainer.hidden{
    user-select: none;
    opacity:0;
    pointer-events: none;
}
.ingredients {
    margin-top:10px;
}
.ingredients ol{
    padding:10px 10px;
}

a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:grey;
}

.meal-body{
    display:none;
}
.foodcard{
display: grid;
grid-template-columns: auto auto;
justify-content: center;
grid-gap:20px;
padding: 10px 30px;
text-align: center;
width:100%;
}
.foodcard .card{
background:silver;
padding:10px;
border-radius: 10px;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}
@media screen and (min-width:700px){
    img{
        width:200px;
    }
    .favorite{
        width:100%;
        padding:50px 100px;
    }
    .popup{
        left:10%;
    }
 
}

@media screen and (min-width:1020px){
    .navtop{
        display:none;
    }
    .desktop{
        display:flex;
    }
    .desktop ul{
display:flex;
font-size: 20px;
list-style: none;
text-transform: uppercase;
background:transparent;
    }
    .desktop li{
        padding: 0 10px;
    }
    .favorite{
        grid-template-columns: auto auto auto auto;
        width:100%;
    }
    .popup{
        left:30%;
    }
    .container1{
        display:none;
    }
    a{
        color:white;
    }
 .desktop ul{
     width:100%;
     height:0;
     margin:auto;
     font-size: 20px;
     position: relative;
     bottom:10px;
 }

    
}
